@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html body {
    background: rgb(81,2,91);
}

header h1{
    text-align: center;
    margin-top: 170px;
    color: azure;
    text-shadow: 0px 2px #000;
}

form{
    position: absolute;
    background-color: azure;
    padding: 16px;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    border-radius: 10px;
    width: 18vw;

}

form label,
form input{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 5px;
}

form input{
    padding: 2px;
}

form button{
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 12px;
    border-radius: 8px;
    background-color: rgb(174, 1, 197);
    color: azure;
    box-shadow: 0px 2px 3px #000;
    border: 1px solid rgb(81,2,91);
    text-shadow: 0px 1px 1px #000;
}

form button:hover{
    background-color: rgb(213, 21, 238);
}

form button:active{
    background-color: rgb(129, 3, 145);
    box-shadow: inset 0px 2px 2px #000;
}
